<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>

    <%= yield %>
    <input type="button" value="Check" onclick='testsssss()'>
  </body>
</htmlsssss>
